.videotrackcontainer {
  font-size: 0;
  position: relative;
  margin: 0;
}
.videotrackcontainer video {
  width: 75%;
  height: auto;
  display: inline-block;
}
.videotrackcontainer figcaption {
  position: absolute;
  right: 0;
  top: 0;
  background: #222;
  width: 25%;
  font-size: 0.8rem;
  color: #666;
  height: 100%;
  overflow-y: auto;
}
.videotrackcontainer figcaption ol {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.videotrackcontainer figcaption ol li a {
  display: block;
  padding: 0.7rem 1rem;
  border-bottom: 1px dashed #000;
  transition: 0.3s;
}

.current {
  background: hsl(45, 80%, 50%);
  color: #000;
}

.videotrackcontainer figcaption ol li a:not(.current):hover,
.videotrackcontainer figcaption ol li a:not(.current):focus {
  background: hsl(45, 80%, 30%);
  color: #000;
  cursor: pointer;
}
.videotrackcontainer figcaption::-webkit-scrollbar {
  width: 13px;
  height: 100%;
}
.videotrackcontainer figcaption::-webkit-scrollbar-track {
  background-color: #000;
}
.videotrackcontainer figcaption::-webkit-scrollbar-thumb:vertical {
  background: hsl(45, 80%, 20%);
  width: 13px;
  height: 20px;
}

@media screen and (max-width: 500px) {
  .videotrackcontainer video,
  .videotrackcontainer figcaption {
    display: block;
    width: 100%;
  }
  .videotrackcontainer video {
    border-bottom: 10px solid #111;
  }
  .videotrackcontainer figcaption {
    position: static;
    height: auto;
    max-height: 200px;
  }
}
